@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-950 text-gray-200;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2c313b;
  border-radius: 4px;
}
